{% extends "dashboard/main.html" %}
{% load static %}
{% load mathfilters %}
{% block content %}
  <main class="main-content position-relative border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="javascript:;">Pages</a></li>
            <li class="breadcrumb-item text-sm text-white active" aria-current="page">Dashboard</li>
          </ol>
          <h3 class="font-weight-bolder text-white mb-0">Finance overview - {{current_month_name}} {{current_year}} </h3>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">
          </div>
          <ul class="navbar-nav  justify-content-end">
            <li class="nav-item d-flex align-items-center">
              <a href="{% url 'sign-in'%}" class="nav-link text-white font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                <span class="d-sm-inline d-none">Sign Out</span>
              </a>
            </li>
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line bg-white"></i>
                  <i class="sidenav-toggler-line bg-white"></i>
                  <i class="sidenav-toggler-line bg-white"></i>
                </div>
              </a>
            </li>
            <li class="nav-item px-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white p-0">
                <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
              </a>
            </li>
            <li class="nav-item dropdown pe-2 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-bell cursor-pointer"></i>
              </a>
              <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="javascript:;">
                    <div class="d-flex py-1">
                      <div class="my-auto">
                        <img src="{% static 'dashboard/assets/img/team-2.jpg' %}" class="avatar avatar-sm  me-3 ">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold">New message</span> from Laur
                        </h6>
                        <p class="text-xs text-secondary mb-0">
                          <i class="fa fa-clock me-1"></i>
                          13 minutes ago
                        </p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="javascript:;">
                    <div class="d-flex py-1">
                      <div class="my-auto">
                        <img src="{% static 'dashboard/assets/img/small-logos/logo-spotify.svg' %}" class="avatar avatar-sm bg-gradient-dark  me-3 ">
                        
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold">New album</span> by Travis Scott
                        </h6>
                        <p class="text-xs text-secondary mb-0">
                          <i class="fa fa-clock me-1"></i>
                          1 day
                        </p>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item border-radius-md" href="javascript:;">
                    <div class="d-flex py-1">
                      <div class="avatar avatar-sm bg-gradient-secondary  me-3  my-auto">
                        <svg width="12px" height="12px" viewBox="0 0 43 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <title>credit-card</title>
                          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g transform="translate(-2169.000000, -745.000000)" fill="#FFFFFF" fill-rule="nonzero">
                              <g transform="translate(1716.000000, 291.000000)">
                                <g transform="translate(453.000000, 454.000000)">
                                  <path class="color-background" d="M43,10.7482083 L43,3.58333333 C43,1.60354167 41.3964583,0 39.4166667,0 L3.58333333,0 C1.60354167,0 0,1.60354167 0,3.58333333 L0,10.7482083 L43,10.7482083 Z" opacity="0.593633743"></path>
                                  <path class="color-background" d="M0,16.125 L0,32.25 C0,34.2297917 1.60354167,35.8333333 3.58333333,35.8333333 L39.4166667,35.8333333 C41.3964583,35.8333333 43,34.2297917 43,32.25 L43,16.125 L0,16.125 Z M19.7083333,26.875 L7.16666667,26.875 L7.16666667,23.2916667 L19.7083333,23.2916667 L19.7083333,26.875 Z M35.8333333,26.875 L28.6666667,26.875 L28.6666667,23.2916667 L35.8333333,23.2916667 L35.8333333,26.875 Z"></path>
                                </g>
                              </g>
                            </g>
                          </g>
                        </svg>
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          Payment successfully completed
                        </h6>
                        <p class="text-xs text-secondary mb-0">
                          <i class="fa fa-clock me-1"></i>
                          2 days
                        </p>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Cash Flow</p>
                    <h5 class="font-weight-bolder">
                      € {{net_activity}}
                    </h5>
                    <p class="mb-0">
                      {%if money_to_budget > 0%}
                          <span class="text-success text-sm font-weight-bolder">+{{money_to_budget}}</span>
                          to budget
                      {% else %}
                         <span class="text-danger text-sm font-weight-bolder">+{{money_to_budget|abs}}</span>
                          over budget
                      {% endif %}
                    </p>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
                      <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Current Wealth</p>
                    <h5 class="font-weight-bolder">
                      € {{current_wealth}}
                    </h5>
                    <p class="mb-0">
                      {%if change_prc > 0%}
                          <span class="text-success text-sm font-weight-bolder">+{{change_prc}}% </span>
                          since last month
                      {% else %}
                         <span class="text-danger text-sm font-weight-bolder">{{change_prc}}</span>
                          since last month
                      {% endif %}
                    </p>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle">
                    <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Investment Profit</p>
                    <h5 class="font-weight-bolder">
                      {{investment_profit}}
                    </h5>
                    <p class="mb-0">
                      {%if investment_profit_prc > 0%}
                          <span class="text-success text-sm font-weight-bolder">+{{investment_profit_prc}}% </span>
                      {% else %}
                         <span class="text-danger text-sm font-weight-bolder">{{investment_profit_prc}}</span>
                      {% endif %}
                      capital c
                    </p>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
                    <i class="ni ni-chart-bar-32 text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Top % of Population</p>
                    <h5 class="font-weight-bolder">
                      {{population_perc}}
                    </h5>
                    <p class="mb-0">
                      <span class="text-success text-sm font-weight-bolder">100.000</span> for the top 1%
                    </p>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-warning shadow-warning text-center rounded-circle">
                    <i class="ni ni-circle-08 text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-7 mb-lg-0 mb-4">
          <div class="card z-index-2 h-100">
            <div class="card-header pb-0 pt-3 bg-transparent">
              <h6 class="text-capitalize">Wealth evolution</h6>
              <p class="text-sm mb-0">
                <i class="fa fa-arrow-up text-success"></i>
              </p>
            </div>
            <div class="card-body p-3" style="height: 400px;">
              <div class="chart">
                <canvas id="chart-line" class="chart-canvas" height="380"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
<div class="carousel-inner">
    
    <div class="carousel-item active">
      <div class="card card-carousel overflow-hidden h-100 p-0">
        <div class="card z-index-2 h-100">
          <div class="card-header pb-0 pt-3 bg-transparent">
            <h6 class="text-capitalize">Wallet Composition By Asset Class</h6>
          </div>
          <div class="card-body p-4 d-flex justify-content-center align-items-center" style="height: 400px;">
            <div class="chart" style="width: 320px; height: 320px;">
              <canvas id="assetclass_graph" class="chart-canvas w-100 h-100"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="carousel-item">
      <div class="card card-carousel overflow-hidden h-100 p-0">
        <div class="card z-index-2 h-100">
          <div class="card-header pb-0 pt-3 bg-transparent">
            <h6 class="text-capitalize">Wallet Composition By Account</h6>
          </div>
          <div class="card-body p-4 d-flex justify-content-center align-items-center" style="height: 400px;">
            <div class="chart" style="width: 320px; height: 320px;">
              <canvas id="account_graph" class="chart-canvas w-100 h-100"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" style="filter: invert(1) sepia(1) hue-rotate(220deg) saturate(2);"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"style="filter: invert(1) sepia(1) hue-rotate(220deg) saturate(2);"></button>
  </div>
</div>
        </div>
      </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-7 mb-lg-0 mb-4">
          <div class="card ">
            <div class="card-header pb-0 p-3">
              <div class="d-flex justify-content-between">
                <h6 class="mb-2">Tansaction Recap</h6>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Category</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center"># Transactions</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">Total Amount</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">To Budget</th>
                    </tr>
                  </thead>
                  <tbody>
                    {%for item in categories_recap%}
                    <tr>
                      <td class="w-30">
                        <div class="d-flex px-2 py-1 align-items-center">
                          <div>
                            <!-- <img src="{% static 'dashboard/assets/img/icons/flags/US.png' %}" alt="Country flag"> -->
                          </div>
                          <div class="ms-4">
                            <h6 class="text-sm mb-0">{{item.category_id__category}}</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="text-center">
                          <h6 class="text-sm mb-0">{{item.count}}</h6>
                        </div>
                      </td>
                      <td>
                        <div class="text-center">
                          <h6 class="text-sm mb-0">{{item.total_amount}}</h6>
                        </div>
                      </td>
                      <td class="align-middle text-sm">
                        <div class="col text-center">
                          <h6 class="text-sm mb-0">+ 200</h6>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="card">
            <div class="card-header pb-0 p-3">
              <h6 class="mb-0">Insert Data</h6>
            </div>
            <div class="card-body p-3">
              <ul class="list-group">
                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                  <div class="d-flex align-items-center">
                    <div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center">
                      <i class="ni ni-mobile-button text-white opacity-10"></i>
                    </div>
                    <div class="d-flex flex-column">
                      <h6 class="mb-1 text-dark text-sm">Accounts</h6>
                      <span class="text-xs">250 in stock, <span class="font-weight-bold">346+ sold</span></span>
                    </div>
                  </div>
                  <div class="d-flex">
                    <button class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto"><i class="ni ni-bold-right" aria-hidden="true"></i></button>
                  </div>
                </li>
                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                  <div class="d-flex align-items-center">
                    <div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center">
                      <i class="ni ni-tag text-white opacity-10"></i>
                    </div>
                    <div class="d-flex flex-column">
                      <h6 class="mb-1 text-dark text-sm">Transactions</h6>
                      <span class="text-xs">123 closed, <span class="font-weight-bold">15 open</span></span>
                    </div>
                  </div>
                  <div class="d-flex">
                    <button class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto"><i class="ni ni-bold-right" aria-hidden="true"></i></button>
                  </div>
                </li>
                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                  <div class="d-flex align-items-center">
                    <div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center">
                      <i class="ni ni-box-2 text-white opacity-10"></i>
                    </div>
                    <div class="d-flex flex-column">
                      <h6 class="mb-1 text-dark text-sm">Labels</h6>
                      <span class="text-xs">1 is active, <span class="font-weight-bold">40 closed</span></span>
                    </div>
                  </div>
                  <div class="d-flex">
                    <button class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto"><i class="ni ni-bold-right" aria-hidden="true"></i></button>
                  </div>
                </li>
                <li class="list-group-item border-0 d-flex justify-content-between ps-0 border-radius-lg">
                  <div class="d-flex align-items-center">
                    <div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center">
                      <i class="ni ni-satisfied text-white opacity-10"></i>
                    </div>
                    <div class="d-flex flex-column">
                      <h6 class="mb-1 text-dark text-sm">Happy users</h6>
                      <span class="text-xs font-weight-bold">+ 430</span>
                    </div>
                  </div>
                  <div class="d-flex">
                    <button class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto"><i class="ni ni-bold-right" aria-hidden="true"></i></button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer pt-3  ">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
              <div class="copyright text-center text-sm text-muted text-lg-start">
                © <script>
                  document.write(new Date().getFullYear())
                </script>,
                made with <i class="fa fa-heart"></i> by
                <a href="https://www.creative-tim.com" class="font-weight-bold" target="_blank">Creative Tim</a>
                for a better web.
              </div>
            </div>
            <div class="col-lg-6">
              <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                <li class="nav-item">
                  <a href="https://www.creative-tim.com" class="nav-link text-muted" target="_blank">Creative Tim</a>
                </li>
                <li class="nav-item">
                  <a href="https://www.creative-tim.com/presentation" class="nav-link text-muted" target="_blank">About Us</a>
                </li>
                <li class="nav-item">
                  <a href="https://www.creative-tim.com/blog" class="nav-link text-muted" target="_blank">Blog</a>
                </li>
                <li class="nav-item">
                  <a href="https://www.creative-tim.com/license" class="nav-link pe-0 text-muted" target="_blank">License</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
var ctx0 = document.getElementById("chart-line").getContext("2d");
new Chart(ctx0, {
  type: "line", 
  data: {
    labels: [
      {% for item in wallet_data %}
         '{{ item.date|date:"M Y" }}'{% if not forloop.last %},{% endif %}
      {% endfor %}
    ],
    datasets: [{
      label: "Wealth Evolution",
      data: [
        {% for item in wallet_data %}
           {{ item.total_amount }}{% if not forloop.last %},{% endif %}
        {% endfor %}
      ],
      borderColor: 'rgb(75, 192, 192)',
      backgroundColor: 'rgba(75, 192, 192, 0.2)',
      tension: 0.4,
      fill: true
    }]
  },
  options: {
    responsive: true,
    maintainAspectRatio: false,
    scales: {
      y: {
        beginAtZero: false,
        ticks: {
          callback: function(value) {
            return '€' + value.toLocaleString();
          }
        }
      },
      x: {
        display: true,
        title: {
          display: true,
          text: 'Month'
        }
      }
    },
    plugins: {
      legend: {
        display: false,
        position: 'top'
      },
      tooltip: {
        callbacks: {
          label: function(context) {
            return context.dataset.label + ': €' + context.raw.toLocaleString();
          }
        }
      }
    }
  }
});
</script><script>
var ctx1 = document.getElementById("assetclass_graph").getContext("2d");

const baseColors1 = [
  'rgb(255, 99, 132)',   
  'rgb(54, 162, 235)',  
  'rgb(255, 206, 86)',   
  'rgb(75, 192, 192)',   
  'rgb(153, 102, 255)',  
  'rgb(255, 159, 64)'    
];

const backgroundColors1 = baseColors1.map(c => c.replace('rgb', 'rgba').replace(')', ', 0.4)'));

new Chart(ctx1, {
  type: "doughnut",   
  data: {
    labels: [
      {% for item in wallet_composition_assetclass %}
         '{{ item.asset_class }}'{% if not forloop.last %},{% endif %}
      {% endfor %}
    ],
    datasets: [{
      label: "Wallet Composition",
      data: [
        {% for item in wallet_composition_assetclass %}
           {{ item.total_amount }}{% if not forloop.last %},{% endif %}
        {% endfor %}
      ],
      backgroundColor: backgroundColors1,  
      borderColor: baseColors1,           
      borderWidth: 2
    }]
  },
  options: {
    responsive: true,
    maintainAspectRatio: false,
    cutout: "60%",   
    plugins: {
      legend: {
        display: false,
        position: 'top'
      },
      tooltip: {
        callbacks: {
          label: function(context) {
            return context.label + ': €' + context.raw.toLocaleString();
          }
        }
      }
    }
  }
});
</script>

<script>
var ctx2 = document.getElementById("account_graph").getContext("2d");

const baseColors2 = [
  'rgb(255, 99, 132)',   
  'rgb(54, 162, 235)',   
  'rgb(255, 206, 86)',  
  'rgb(75, 192, 192)',   
  'rgb(153, 102, 255)',  
  'rgb(255, 159, 64)'    
];

const backgroundColors2 = baseColors2.map(c => c.replace('rgb', 'rgba').replace(')', ', 0.4)'));

new Chart(ctx2, {
  type: "doughnut",   
  data: {
    labels: [
      {% for item in wallet_composition_account %}
         '{{ item.account_id }}'{% if not forloop.last %},{% endif %}
      {% endfor %}
    ],
    datasets: [{
      data: [
        {% for item in wallet_composition_account %}
           {{ item.amount }}{% if not forloop.last %},{% endif %}
        {% endfor %}
      ],
      backgroundColor: backgroundColors2,  
      borderColor: baseColors2,            
      borderWidth: 2
    }]
  },
  options: {
    responsive: true,
    maintainAspectRatio: false,
    cutout: "60%",   
    plugins: {
      legend: {
        display: false,
        position: 'top'
      },
      tooltip: {
        callbacks: {
          label: function(context) {
            return context.label + ': €' + context.raw.toLocaleString();
          }
        }
      }
    }
  }
});
</script>

{% endblock %}
